a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

/*
  Styles for default JSS error components
*/
.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}

/* 
  Style for default content block
*/
.contentTitle {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

  /* 3. Tailwind base stuff */

/* Specifically importing after our base stuff to mimic Tailwind v2 file creation */

@import 'tailwindcss/base';


/* 6. Tailwind components */

/* Specifically importing after our components to mimic Tailwind v2 file creation */

@import 'tailwindcss/components';

/* 7. Our page-specific styles */

/* 8. Tailwind utilities */

@import 'tailwindcss/utilities';

@import 'css/components/Navigation/Header.css';
@import 'css/components/Navigation/Footer.css';
@import 'css/components/PageContent/FullImageSection.css';
@import 'css/components/PageContent/ThreeColumnsSection.css';